# XiaoyangOS GRUB configuration
GRUB_DISTRIBUTOR="XiaoyangOS"
GRUB_THEME="/boot/grub/themes/xiaoyangos/theme.txt"
GRUB_TIMEOUT=5
GRUB_TIMEOUT_STYLE=menu
GRUB_GFXMODE=1920x1080
GRUB_GFXPAYLOAD_LINUX=keep
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash loglevel=3 udev.log_priority=3"
GRUB_DISABLE_OS_PROBER=false
