if loadfont /boot/grub/fonts/unicode.pf2; then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  terminal_output gfxterm
fi

set gfxpayload=keep
set gfxmode=1920x1080

insmod gfxmenu
insmod png
insmod jpeg

set theme=/boot/grub/themes/xiaoyangos/theme.txt

menuentry "Boot XiaoyangOS" {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archiso_rd_efi_wrapper=1
  initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Boot XiaoyangOS (nomodeset)" {
  linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% nomodeset
  initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Boot XiaoyangOS (failsafe)" {
  set gfxpayload=text
  linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% nomodeset
  initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Hardware Detection" {
  linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% hwdetect
  initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Run MemTest86+ (RAM test)" {
  linux /%INSTALL_DIR%/boot/memtest86+/memtest.bin
}
